{% render 'partials/head.liquid' %}
<main class="artikel">
        <div class="back-button">
            <a href="/nieuws">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.2493 8.74995H5.96125L11.7387 2.99719C12.0683 2.66793 12.2535 2.22136 12.2535 1.75571C12.2535 1.29007 12.0683 0.843497 11.7387 0.514237C11.409 0.184977 10.9619 0 10.4956 0C10.0294 0 9.58229 0.184977 9.25262 0.514237L0.498981 9.25703C0.339594 9.42333 0.214653 9.61942 0.131328 9.83406C-0.0437761 10.2598 -0.0437761 10.7373 0.131328 11.163C0.214653 11.3776 0.339594 11.5737 0.498981 11.74L9.25262 20.4828C9.41537 20.6467 9.609 20.7768 9.82235 20.8655C10.0357 20.9543 10.2645 21 10.4956 21C10.7268 21 10.9556 20.9543 11.1689 20.8655C11.3823 20.7768 11.5759 20.6467 11.7387 20.4828C11.9027 20.3202 12.033 20.1268 12.1219 19.9138C12.2108 19.7007 12.2565 19.4721 12.2565 19.2413C12.2565 19.0105 12.2108 18.7819 12.1219 18.5688C12.033 18.3558 11.9027 18.1624 11.7387 17.9998L5.96125 12.2471H19.2493C19.7136 12.2471 20.1589 12.0628 20.4872 11.7349C20.8155 11.407 21 10.9623 21 10.4985C21 10.0348 20.8155 9.59001 20.4872 9.26209C20.1589 8.93417 19.7136 8.74995 19.2493 8.74995Z" fill="black"/></svg>
                Terug
            </a>
        </div>
        <h1 class="heading-news">Veld nieuws</h1>
    </div>

    <article>
         {% for news in news %}
        <img src="https://fdnd-agency.directus.app/assets/{{ news.image }}" alt="{{ news.title }}" width="200"> 
        <p class="date">Geplaatst: {{ news.date }}</p> 
        <h2>{{ news.title }}</h2>
        <p>{{ news.body }}</p>  
    </article>

    <div class="comment-wrapper">
    {% comment %} Chat input {% endcomment %}
    <section class="comment">
        <h2>Voeg een bericht toe</h2>
        <form action="/nieuws/{{ news.id }}/{{ news.slug }}" method="POST">
            <label class="name-input">
                Naam:
                <input type="text" name="name" placeholder="Voer je naam in" required>
            </label>
            
            <label class="message-input">
                Bericht:
                <input type="text" name="comment" required maxlength="100" placeholder="Voeg een opmerking" required></textarea>
            </label>

            {% comment %} deze label kan weg {% endcomment %}
            <label>
                <input class="submit" type="submit" value="Verstuur" class="sumbit-button">
            </label>
        </form>
    </section>

    {% comment %} Message box {% endcomment %}
    <section class="messages">
        <h3 id="reviews">{{ comments.size }} Opmerkingen</h3>

        {% for comment in comments %}
        <section class="message-wrap">
            <p class="comment-name">{{ comment.name | default: "Onbekend" }}:</p>
            <p class="comment-message"> {{ comment.comment }}</p> 
            <p class="date-created">{{ comment.date_created | date: '%d-%m-%Y %H:%M' }}</p>

            <form method="POST" action="/nieuws/{{ news.id }}/{{ news.slug }}/verwijder">
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <button type="sumbit">Verwijder</button>
            </form>
        </section>

        {% else %}
            {% comment %} Empty state {% endcomment %}
        <p>Er zijn nog geen berichten voor dit artikel.</p>
        {% endfor %}

        <script type="module">
            // Script voor het commentaarformulier op de details pagina
            // 1. const eerst het formulier, de submit button en de comment container
            const commentForm = document.querySelector('.comment form')
            // console.log('formulier:', articleForm)
            const formButton = document.querySelector('.comment form button')
            const articleComments = document.querySelector('.messages')

            // Als er op de submit button wordt geklikt ...
            commentForm.addEventListener('submit', async function (event) {
                // Voorkom de standaard submit van de browser
                // Let op: hiermee overschrijven we de default Loading state van de browser...
                event.preventDefault()
                console.log('submit')

                //Loading state tonen:
                formButton.classList.add('loading')
                formButton.textContent = 'Verzenden...'

                //formdata voorbereiden:
                let formData = new FormData(commentForm);

                // Data fetchen:
                // Doe een fetch naar de server, net als hoe de browser dit normaal zou doen
                // Gebruik daarvoor het action en method attribuut van het formulier
                // Stuur de formulierelementen mee

                {% comment %} Promise laat je op meerdere dingen tegelijkertijd wachten {% endcomment %}
                 {% comment %} [response] pakt alleen het eerste resultaat uit de fetch response {% endcomment %}
                const [response] = await Promise.all([
                    fetch(commentForm.action, {
                        method: commentForm.method, //POST dus
                        body: new URLSearchParams(formData) // <<< Dit moet omdat server.js anders niet met de formulier data kan werken
                    }),
                    new Promise(resolve => setTimeout(resolve, 2500)) // minimaal 5 seconden
                ])

                console.log(response)

                // Data verwerken:
                // De server geeft data terug als het posten goed gaat
                const responseData = await response.text()

                // Normaal zou de browser die HTML parsen en weergeven, maar daar moeten we nu zelf iets mee
                // Parse de nieuwe HTML en maak hiervan een nieuw Document Object Model in het geheugen
                const parser = new DOMParser()
                const responseDOM = parser.parseFromString(responseData, 'text/html')

                // Zoek in die nieuwe HTML DOM onze nieuwe UI state op, die we via Liquid hebben klaargemaakt
                const newState = responseDOM.querySelector('.messages')

                // data van de server toevoegen aan de DOM, aan de scorelijst in de ol
                // Overschrijf de HTML met de nieuwe HTML
                if (newState) {
                    articleComments.innerHTML = newState.innerHTML
                }
                // Loading state weghalen
                // Nu kan je waarschijnlijk de Loading state vervangen door een Success state
                // console.log("Loading state weghalen")
                formButton.classList.remove('loading')
                formButton.classList.add('success')
                formButton.textContent = '✔ Verstuurd!'

                commentForm.reset()

                // Na 2 seconden terug naar normale state
                setTimeout(() => {

                    formButton.classList.remove('success')

                    formButton.textContent = 'Verzenden'

                }, 2000)
            })
        </script>
    </section>
</div>
{% endfor %} 
</main>
{% render 'partials/navigation.liquid' %}
{% render 'partials/foot.liquid' %}