{% render 'partials/head.liquid' %}
<main class="main-news">
        <div class="back-button">
            <a href="/">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.2493 8.74995H5.96125L11.7387 2.99719C12.0683 2.66793 12.2535 2.22136 12.2535 1.75571C12.2535 1.29007 12.0683 0.843497 11.7387 0.514237C11.409 0.184977 10.9619 0 10.4956 0C10.0294 0 9.58229 0.184977 9.25262 0.514237L0.498981 9.25703C0.339594 9.42333 0.214653 9.61942 0.131328 9.83406C-0.0437761 10.2598 -0.0437761 10.7373 0.131328 11.163C0.214653 11.3776 0.339594 11.5737 0.498981 11.74L9.25262 20.4828C9.41537 20.6467 9.609 20.7768 9.82235 20.8655C10.0357 20.9543 10.2645 21 10.4956 21C10.7268 21 10.9556 20.9543 11.1689 20.8655C11.3823 20.7768 11.5759 20.6467 11.7387 20.4828C11.9027 20.3202 12.033 20.1268 12.1219 19.9138C12.2108 19.7007 12.2565 19.4721 12.2565 19.2413C12.2565 19.0105 12.2108 18.7819 12.1219 18.5688C12.033 18.3558 11.9027 18.1624 11.7387 17.9998L5.96125 12.2471H19.2493C19.7136 12.2471 20.1589 12.0628 20.4872 11.7349C20.8155 11.407 21 10.9623 21 10.4985C21 10.0348 20.8155 9.59001 20.4872 9.26209C20.1589 8.93417 19.7136 8.74995 19.2493 8.74995Z" fill="black"/></svg>
                Terug
            </a>
        </div>
        
        <h1 class="heading-news">Veld nieuws</h1>


    {% comment %} FILTER BUTTONS {% endcomment %}
    <div class="filter-nav">
        <a href="#" class="filter-button">Laatste</a>
        <a href="#" class="filter-button">In de bloei</a>
        <a href="#" class="filter-button">Na de bloei</a>
    </div>

    {% comment %} ZOEKBALK {% endcomment %}
    <div class="search-bar">
        <input type="text" name="zoekinput" placeholder="Search">
    </div>

    {% comment %} ARTIKELEN {% endcomment %}
    <div class="articles">
        {% for news in news %}
        <a class="link-wrapper" href="/nieuws/{{ news.slug }}">
            <article class="news-article">
                <picture>
                    <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{news.image}}?format=avif">
                    <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{news.image}}?format=webp">
                    <img src="https://fdnd-agency.directus.app/assets/{{news.image}}" alt="">
                </picture>
                <p class="label">Bloemenveld</p>
                <h2>{{ news.title }}</h2>
            </article>
        </a>
        {% comment %} <hr> {% endcomment %}
        {% endfor %}
    </div>
</main>

{% render 'partials/navigation.liquid' %}
{% render 'partials/foot.liquid' %}